:root {
    font-family: Herculanum, monospace;
  }
  
  body {
    background-color: hsl(34, 43%, 75%);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 28" width="56" height="28"%3E%3Cpath fill="%239C92AC" fill-opacity="0.3" d="M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z"%3E%3C/path%3E%3C/svg%3E');
  }
  
  body,
  #header,
  #img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #header,
  #main,
  #citation {
    max-width: 800px;
  }
  
  #title {
    background-color: hsl(34, 43%, 40%);
    padding: 0.5em 0.5em;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    font-size: 3.5em;
    font-weight: 800;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
  }
  
  #title::before {
    content: "";
    background-color: hsl(34, 43%, 40%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0.25em;
    z-index: -2;
  }
  
  #header p {
    margin: 1.5em;
    font-size: 1.2em;
    text-align: center;
    z-index: 2;
  }
  
  #img-div {
    z-index: 2;
  }
  
  #image {
    border: 5px solid hsl(34, 43%, 40%);
    border-radius: 50%;
    max-width: 100%;
    width: 50%;
    height: auto;
  }
  
  #img-caption {
    margin: 1em auto;
  }
  
  .horizontal-line {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
  }
  
  .line {
    color: hsl(34, 43%, 40%);
    background-color: hsl(34, 43%, 40%);
    width: 80%;
    height: 3px;
  }
  
  .line-end {
    width: 5%;
    height: auto;
  }
  
  #main {
    margin: 1em auto;
  }
  
  #tribute-info article {
    margin-bottom: 1.75em;
  }
  
  #main article .description {
    font-size: 1.1em;
    font-style: italic;
    text-align: justify;
    line-height: 1.25em;
  }
  
  #timeline {
    font-size: 1.05em;
  }
  
  #timeline h2 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.25em;
  }
  
  #timeline ul li {
    margin-top: 1.2em;
    line-height: 1.5em;
  }
  
  #timeline ul li::before{
    content: "";
    background-image: url("https://static.thenounproject.com/png/25596-200.png");
    position: relative;
    display: inline-block;
    top: 0.35em;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
  }
  
  #more-info h3 {
    font-size: 1.5em;
    font-weight: 800;
  }
  
  #bonus {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #bonus h2 {
    font-size: 2em;
  }
  
  #song-youtube-video {
    margin: 1.25em auto;
  }
  
  #citation {
    height: 5em;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  